{% extends 'base.html' %}

{% block content %}
<div class="container">
    <a href="{% url 'formsapp:create_client' %}" class="container my-3 btn btn-success" role="button">Add a new
        client</a>
    <div class="container my-3 py-0 px-0">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Middle Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients_list %}
                    <tr>
                        <th scope="row">{{ client.id|truncatechars:9 }}</th>
                        <td>{{ client.first_name }}</td>
                        <td>{{ client.middle_name }}</td>
                        <td>{{ client.last_name }}</td>
                        <td>{{ client.phone_number }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}