{% load static %}
<header class="sticky top-0 bg-gray-200 text-gray-700 body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <a
      href="{% url 'notesapp:home' %}"
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
    >
      <img
        class="w-10 h-10 text-white p-2 bg-gray-500 rounded-full"
        alt="Brand Logo"
        src="{% static 'logos/alpine_icon.svg' %}"
      />
      <span class="ml-3 text-xl">Produktiveco</span>
    </a>
    <nav
      class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center"
    >
      <!-- Just copy the below anchor elements to add more header links... -->
      <a class="mr-5 hover:text-gray-900">Archive</a>
    </nav>
    {% if request.session.sign_in_status %}
    <a
      href="{% url 'account_logout' %}"
      class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0"
      >Sign-Out
      <svg
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-4 h-4 ml-1"
        viewBox="0 0 24 24"
      >
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
    {% else %}
    <a
      href="{% url 'account_login' %}"
      class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 mx-1 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0"
      >Sign-Up
      <svg
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-4 h-4 ml-1"
        viewBox="0 0 24 24"
      >
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
    <a
      href="{% url 'account_login' %}"
      class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 mx-1 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0"
      >Sign-In
      <svg
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-4 h-4 ml-1"
        viewBox="0 0 24 24"
      >
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
    {% endif %}
  </div>
</header>
